#root {
  --tabs-height: 36px;
  --tabs-indent: 24px;
  --tabs-inner-gap: 8px;
  --my-tab-right-radius: 8px;
  --my-tab-font-size: 1.05rem;
}



/* UNPINNED TAB SPACING */
.central-box {
  gap: 6px; /* gap above first unpinned tab */
  padding-right: 4px;
  padding-left: 4px;
}

.Tab .body {
  height: var(--tabs-height);
}

.Tab {
  margin-bottom: 3px;
}

.Tab[data-pin="true"] {
  margin-top: 6px;
}



/* PINNED TABS */
/* make square */
.Tab[data-pin="true"] {
  width: var(--tabs-height);
}

/* add border */
.Tab[data-pin="true"] .body::before {
  box-shadow: inset 0 0 0 1px rgb(82,82,94) !important;
}

/* spacing */
.tab-wrapper {
  margin-right: 4px;
}



/* REMOVE ACTIVE TAB BORDER */
#root .Tab[data-active="true"] .body {
  box-shadow: none;
}


/* TAB BORDER RADIUS */
.Tab .body,
.Tab:hover .body::before,
.Tab[data-selected=true] .body:before,
.Tab[data-pin="true"] .body::before {
  border-top-right-radius: var(--my-tab-right-radius);
  border-bottom-right-radius: var(--my-tab-right-radius);
  border-top-left-radius: var(--my-tab-right-radius);
  border-bottom-left-radius: var(--my-tab-right-radius);
}



/* TAB TEXT */
.Tab .title,
.Tab[data-active=true] .title
{
  font-size: var(--my-tab-font-size);
  line-height: 1.3;
}

.Tab .custom-title-input {
  font-size: var(--my-tab-font-size);
}



/* PRESS ANIMATION */
.Tab .body {
  transition: transform 0.1s ease-out;
}

.Tab .body:active {
  transform: scale(0.98);
}



/* ADJUST TREE LINES FOR NEW SIZES */
#root[data-tabs-tree-lvl-marks=true] .Tab:not([data-lvl="0"]) .body:after {
  height: calc(100% + var(--tabs-margin) + var(--tabs-margin) + 1px);
  top: calc(var(--tabs-margin) * -2.5);
  background-color: var(--tabs-normal-fg);
}



/* MAKE BOTTOM BAR MORE LIKE A TOOLBAR */
.BottomBar {
  background: var(--toolbar-bg);
}
